table { border-collapse: collapse;
}
header { margin-left: 150px; }
body
{
	background-image: url(images/world.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	background-size: 100%;
}